@font-face{
    font-family: wotfont;
    src: url(../resources/fonts/Anton-Regular.ttf)
  }
  /****************************************************************NAVBAR*****************************************************/
#nav{
  font-family: wotfont;
  background-color: rgb(41, 41, 41);
  color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
} 
.navcontainer{
  display:flex;
  gap: 25px;
  color: white;
  
}
.loadinGif{
  display: flex;
  justify-content: center;
  padding: 55px;
}
/****************************************************************BODY********************************************************/ 
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/*************************************************************FOOTER********************************************************/ 
.footerContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(41, 41, 41);
  color: white;
  font-family: wotfont;
  justify-content: space-around;
  margin-top: auto;
  padding: 20px;
  text-align: center;
}

.socialNetworks{
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items:center;
  justify-content: center;
}
.socialcolumn{
  text-decoration: none;
  color: white;
}
#gitsocial:hover{
  color: grey;
  transition: all ease .5s;
  background-color: white;
  border-radius: 10px;
  padding: 3px
}
#facesocial:hover{
  color: rgb(0, 110, 255);
  transition: all ease .5s;
  background-color: white;
  border-radius: 10px;
  padding: 3px
}
/***************************************************************TANKS LIST******************************************************/ 

.tanksCardsContainer{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  gap: 30px;
  padding: 25px;
  
}
.tanksBody{
  background: rgb(0,0,5);
  background: linear-gradient(90deg, rgba(0,0,5,1) 0%, rgba(89,89,105,1) 35%, rgba(20,26,27,1) 100%); 
}
.tanksTitle{
  font-family: wotfont
}
.tankCardStyle{
  background: rgb(0,0,5);
  background: linear-gradient(90deg, rgba(0,0,5,1) 0%, rgba(70,73,79,1) 35%, rgba(62,63,69,1) 100%); 
  color:white
}
.cardBtn{
  background: rgb(253,29,29);
  background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 50%, rgba(253,29,29,1) 100%);
  border-color: transparent
}
/*.cardBtn:hover{
  background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 50%, rgba(253,29,29,1) 100%);
  transition: all .5s;
  transform: scale(1.1)
}*/

/*************************************************************PLAYERS**********************************************************/
.searchPlayerContainer{
  display: flex;
  flex-direction: column;
  padding: 100px;
  gap: 25px;
}